.news__head{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #e8ff0094;
    text-shadow: 0px 0px 8px;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}