.news__subtitle{
    font-family: 'Despair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color:#fff;
    margin: 0;
    padding: 0;
    word-break: break-all;
}