.news-category__list{
    border: 3px solid #9845EB;
    background-color: transparent;
    border-radius: 20px;
    font-family: 'Despair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding: 15px;
    margin-bottom: 20px;
    appearance: none; 
    overflow: hidden;
    background: url('../../images/icons/news-category__icon.svg') no-repeat right; 
    background-size:13%;
}
