.main-news__container{
    max-width: 100%;
    background-color: #fff;
    border-radius: 20px;
    margin: 0;
    padding: 34px 23px;
    margin-top: 5px;
    z-index: 2;
    position: relative;
    box-shadow: 1px 1px 20px 1px #ffb700;
}


