.comments__btn-save{
    background-color:#4d2971;
    border: none;
    border-radius:50%;
    width: 47px;
    height: 47px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.comments__btn-save__icon{
    margin: 0;
}

.comments__form-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}